In [4]:
print("hello! python!")

hello! python!

In [1]:
n = 10
m = 5.0
name = '温明潔'
is_google = True

In [3]:
print(n)

print()

NameError: name 'n' is not defined

In [2]:
print(n)
print(m)
print(name)
print(is_google)

10
5.0
温明潔
True

In [13]:
t1 = (1, 2, 3, 4, 5)
t1
print(type(t1))

t2 = ('a','b','c')
t2

type(t2)

name,chinese,math,english = "温明潔",45,56,100
print(name)
print(chinese)
print(math)
print(english)

<class 'tuple'>
温明潔
45
56
100

In [14]:
name,chinese,math,english = "温明潔",45,56,100
print(name)
print(chinese)
print(math)
print(english)

温明潔
45
56
100

In [15]:
mylist = [1, 2,3, 4]
mylist

[1, 2, 3, 4]

In [16]:
print(type(mylist))

<class 'list'>

In [19]:
student1 = "温明潔",45,56,100
print (student1)

('温明潔', 45, 56, 100)

In [21]:
print(student1[0])
print(student1[1])
print(student1[2])
print(student1[3])

温明潔
45
56
100

In [23]:
for element in student1:
    print(element)

温明潔
45
56
100

In [31]:
greeting = "hello!!!python"
for e in greeting:
    print(e)

h
e
l
l
o
!
!
!
p
y
t
h
o
n

In [46]:
student1 = {"name":"温明潔",
            "中文":45,
            "english":56,
            "math":100}
student1

{'name': '温明潔', '中文': 45, 'english': 56, 'math': 100}

In [35]:
for k in student1:
    print(k)

温明潔
45
56
100

In [47]:
students = [{'name': '温明潔', '中文': 45, 'english': 56, 'math': 100},
            {'name': '周泰霖', '中文': 5, 'english': 6, 'math': 0},
            {'name': '周太零', '中文': 0, 'english': 0, 'math': 0}]

In [49]:
for student in students:
    print(student)

{'name': '温明潔', '中文': 45, 'english': 56, 'math': 100}
{'name': '周泰霖', '中文': 5, 'english': 6, 'math': 0}
{'name': '周太零', '中文': 0, 'english': 0, 'math': 0}

In [50]:
for student in students:
    for key in student:
        print(student[key])
    print("==========")

温明潔
45
56
100
==========
周泰霖
5
6
0
==========
周太零
0
0
0
==========